{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h5>
    This project was done on my Data-Science course in my school, Tichonet in Tel-Aviv.
</h5>
<br />
<h5>
    This project is one part of the Final-Project by the end of the semester.
    In this project I used flask bootstrap and flask wtf.
    In addition, I used html language and python language. I have done all of this Project on Visual-Studio.
</h5>
<br />
<h5>
    I chose 2 datasets in this project To find the connection between them.
    The 2 datasets I chose Was on Seattle Car Accidents and Seattle Weather.
    On my DateQuery page you can put start date and end date and you will see the graph with the connection between them.
</h5>
<div class="row">
    <img src={{ chart }} class="img-thumbnail" alt="not found" height="400" width="400">
</div>

{% endblock %}
