{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<body style="background-color: springgreen"

    <p>Hello, My Name Is Guy Wittlin And I'm 15 Years Old From Tel-Aviv, Israel. This Is My First Internet Website.</p>
    <p>I did This Website For My Data Science Major In School. I learn In Tichonet High-School, In Tel-Aviv.</p>
    <p>I Chose To See The Connection Betweeen The Car Accidents In Seattle (Country In USA) And Between The Whether In Seattle. I Did That Because I Want To See If There's Connection Between That Two Things.</p>
</body>
{% endblock %}
