{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<p> This project was done on my Data-Science course in my school, Tichonet in Tel-Aviv. This project is one part of the Final-Project by the end of the semester. In this project I used flask bootstrap and flask wtf, In addition, I used html language and python language. I have done all of this Project on Visual-Studio. By the start of the year We are instructed to take 6-10 photos and do Gallery. Also, I chose 2 datasets in this project To find the connection between them. The 2 datasets I chose Was on Seattle Car Accidents and Seattle Whether. </p>

{% endblock %}
