{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<h3>My Name:</h3>
<h4>Guy</h4>
<br />

<h3>My Last Name:</h3>
<h4>Wittlin</h4>
<br />

<h3>Age:</h3>
<h4>16</h4>
<br />

<h3>If You Want To Know More About Me, You Can Contact Me By Email Or Phone:</h3>

<address>
    <strong>My Gmail:</strong>   <a href="mailto:guywgamer76@gmail.com">Guywgamer76@gmail.com</a><br />
    <strong>My Phone Number:</strong> <a href="tel:+972544736668">+972 054-473-6668</a>
</address>
{% endblock %}
