{% extends "layout.html" %}

{% block content %}

    <h2>{{ title }}</h2>
    <h3>{{ message }}</h3>
    <br />
    <br />
    <br />
    <div class="col-md-4">
        <form method=post>
            <h3>{{ form.csrf_token }}</h3>

            <!--Place To Put Your Start Date-->
            <h3>{{ form.Start_Date.label }}</h3>
            <h3>{{ form.Start_Date }}</h3>

            <br />

            <!--Place To Put You End Date-->
            <h3>{{ form.End_Date.label }}</h3>
            <h3>{{ form.End_Date }}</h3>
            <input class="btn btn-primary" type="submit" value="Show">
        </form>
    </div>
    <div class="col-md-8">
        <!--The Images (Wrong, CarRain, Plt).-->
        <img src={{ chart }} class="img-thumbnail" alt="not found">
    </div>
    {% endblock %}
