{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<br />
<br />
<br />
<div class="col-md-4">
    <form method=post>
        <h3>{{ form.csrf_token }}</h3>
        <h3>{{ form.Start_Date.label }}</h3>
        <h3>{{ form.Start_Date }}</h3>
        <br />
        <h3>{{ form.End_Date.label }}</h3>
        <h3>{{ form.End_Date }}</h3>
        <input class="btn btn-primary" type="submit" value="Show">
    </form>
</div>
<div class="col-md-8">
    <img src={{ chart }} class="img-thumbnail" alt="not found">
</div>

    {% endblock %}