{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Guy Wittlin's Site</h1>
    <p class="lead">My Name Is Guy. Click On About On Top To See More About Me :)</p>
</div>

<div class="row">
    <h4> I Put This Picture Because I Love Football And My Favorite Team Is Barcelona. In Addition, One Of My Website Pages Was On Football. </h4>
    <img src="https://www.footballticketnet.com/theme/images/teams/Buy-FC-Barcelona-Football-Tickets-FootballTicketNet.png" height="500" width="500"/>
    <br />
    <br />
    <h4> I Put This Picture Because My DataSet Connection Was Between 2 Things In Seattle (Country In USA). </h4>
    <img src="https://motionarray.imgix.net/preview-35773tnWwpf91V3_0014.jpg" height="500" width="500"/>
    <br />
    <br />
    <h4> I Put This Picture Because One Of My Datasets Was On Car Accidents And I Decided To Put A Pretty Car. </h4>
    <img src="https://article.images.consumerreports.org/f_auto/prod/content/dam/CRO%20Images%202018/Cars/December/CR-Cars-InlineHero-American-2018-Chevrolet-Corvette-GS-12-18" height="500" width="500"/>
</div>

{% endblock %}
